<form ic-put-to="/CreateItem-data">
    <div class="form-group">
        <label for="ExampleItemName">Item Name</label>
        <input type="name" name="name" class="form-control" id="ExampleItemName" placeholder="Item Name">
    </div>
    <div class="form-group">
        <label for="ExampleItemDescription">Description</label>
        <input type="description" name="description" class="form-control" id="ExampleItemDescription" placeholder="Item Description">
    </div>
    <div class="form-group">
        <label for="ExamplePhotoLink">Photo Link</label>
        <input type="photolink" name="photolink" class="form-control" id="ExamplePhotoLink" placeholder="Link to photo">
    </div>
    <div class="form-group">
        <label for="ExampleTag">Tag</label>
        <input type="tag" name="tag" class="form-control" id="ExampleTag" placeholder="Tag">
    </div>
    <button class="btn btn-default">Create Item</button>
</form>