<form ic-post-to="/item/data">
    <div class="form-group">
        <label for="ExampleItemName">Item Name</label>
        <input type="name" name="name" class="form-control" id="ExampleItemName" placeholder="Item Name">
    </div>
    <div class="form-group">
        <label for="ExampleItemDescription">Description</label>
        <input type="description" name="description" class="form-control" id="ExampleItemDescription" placeholder="Item Description">
    </div>
    <div class="form-group">
        <label for="ExamplePhotoLink">Photo Link</label>
        <input type="photolink" name="photolink" class="form-control" id="ExamplePhotoLink" placeholder="Link to photo">
    </div>
    <div class="form-group">
        <label for="ExampleTag">Tag</label>
        <input type="tag" name="tag" class="form-control" id="ExampleTag" placeholder="Tag">

        <div class="form-group">
            <label for="starting_price">Starting price</label>
            <input type="starting_price" name="starting_price" class="form-control" id="starting_price" placeholder="starting_price">
        </div>

        <div class="form-group">
            <label for="end_date">End time</label>
            <input type="end_date" name="end_date" class="form-control" id="end_date" placeholder="End Time format: yyyy-MM-dd HH:mm:ss">
        </div>

    </div>
    <button class="btn btn-default">Create Listing</button>
</form>