<div class="row item-list">
    #foreach($item in $items)
        <div class="item col-sm-4">
            <a href="">
                <h3>$item.getName()</h3>
                <img class="img-responsive" src="$item.getPhotoUrl()">
                <p>$item.getDescription()</p>
            </a>
        </div>
    #end
</div>