<row>
    <div class="col-xs-12">
        <h1>$item.getName()</h1>
    </div>
</row>
<row>

    <div class="col-md-6 item-img">
        <img class="img-responsive" src="$item.getPhotoUrl()">
    </div>

    <div class="col-md-6">
        <label>Description:</label>
        <p>$item.getDescription()</p>
    </div>

    <div class="col-md-6">
        <label>End Date:</label>
        <p>$auction.getEndDate()</p>
    </div>

    <div class="col-md-6">
        <label>End Time:</label>
        <p>$auction.getEndTime()</p>
    </div>

    <div class="col-md-6">
        <label>Instant Buy Price:</label>
        <p>$$auction.getBuyOutPrice()</p>
    </div>

    <div class="col-md-6">
        <label>Starting Price:</label>
        <p>$$auction.getStartingPrice()</p>
    </div>

    <div class="col-md-6">
        <label>Current Bid:</label>
        <p>$$bid.getAmount()</p>
    </div>

</row>
