<nav class="navbar navbar-default container">
    <div class="collapse navbar-collapse">
        <a class="navbar-brand" href="">ubay</a>

        <form ic-target="#home" ic-post-to="/search/data" class="navbar-form navbar-left">
            <div class="form-group">
                <input name="search" type="text" class="form-control" placeholder="Search">
                <input name="filter" type="text" class="form-control" placeholder="Filter by Tag">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>

        <div class="navbar-form navbar-right">
            <button ic-target="#home" ic-get-from="/login/template" class="btn btn-default">Log In</button>
            <button ic-target="#home" ic-post-to="login/logout" class="btn btn-default">Logout</button>
            <button ic-target="#home" ic-get-from="/account/create/template" class="btn btn-default">Create Account</button>
            <button ic-target="#home" ic-get-from="/account/my-account/template" class="btn btn-default">My Account</button>
        </div>
    </div>
</nav>

